<div class="footer">
    <div class="footer--main">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <ul class="socials" id="socials">
                    <li class="social">
                        <a href="#" target="_blank" rel="noopener noreferrer" class="social btn btn-primary">
                            <i class="fab fa-xing fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" rel="noopener noreferrer" class="social btn btn-primary">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" rel="noopener noreferrer" class="social btn btn-primary">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer--copy">
        2021 - {% year %} &copy; Johannes Kirchner
    </div>
</div>