<div class="header">
    <div class="menu">
        <div class="heading">
            <h1>{{ title }}</h1>
        </div>
        <ul class="list">
            <li class="list-item">
                <a href="#">a</a>
            </li>
            <li class="list-item">
                <a href="#">a</a>
            </li>
            <li class="list-item">
                <a href="#">a</a>
            </li>
            <li class="list-item">
                <a href="#">a</a>
            </li>
            <li class="list-item">
                <a href="#">a</a>
            </li>
        </ul>
        <div class="toggle">
            <button onclick="toggleDarkMode()">
                <i class="fas fa-moon fa-2x" id="toggle"></i>
            </button>
        </div>
    </div>
</div>